    {% extends "layout.html" %}
    {% block content %}

<center><h2>Welcome to NRI Demo</h2></center>

<div>
<iframe src="http://92.61.177.104:3000/d-solo/DWkMhECmk/nri_demo?refresh=1m&orgId=1&panelId=2&theme=light"
frameborder="0" scrolling="yes" style="overflow: hidden; height: 75%; width: 33%;"></iframe>
</div>

<div class="buttons">
    <div>مدت نمایش</div>
    <div><button type="button">یک شبانه روز</button></div>
    <button type="button">یک هفته</button>
    <button type="button">یک ماه</button>
</div>

    {% endblock %}


