<center><h2>Welcome to NRI Demo</h2></center>

<div><center>
<iframe src="http://92.61.177.104:3000/d-solo/DWkMhECmk/nri_demo?refresh=1m&orgId=1&panelId=8&theme=light"
frameborder="0" scrolling="yes" style="overflow: hidden; height: 75%; width: 100%; float: middle;"></iframe>
</center></div>

<div><center>
     <form role="form" method='POST' action='streetlight'>
     <input type="submit" name="submit" value="turn Light on" />
     <input type="submit" name="submit" value="turn Light off" />
</form>
</center></div>

