    {% extends "layout.html" %}
    {% block content %}

<center><h2>Welcome to NRI Demo</h2></center>

<div>
<iframe src="https://snapshot.raintank.io/dashboard-solo/snapshot/6MeTgLHi7U2VPqjJHZ2snANxegaac5r4?orgId=2&panelId=2&from=1561620925308&to=1561624525308&theme=light"
frameborder="0" scrolling="yes" style="overflow: hidden; height: 200; width: 450; float: middle;"></iframe>
</div>

<div class="buttons">
    <div>مدت نمایش</div>
    <button type="button">یک شبانه روز</button>
    <button type="button">یک هفته</button>
    <button type="button">یک ماه</button>
</div>

    {% endblock %}


